<h1>New Product</h1>

<%= render 'form' %>

<!-- <%= @product.errors.full_messages.join(', ') %>
<%= form_for @product do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-control">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-control">
    <%= f.label :price %> $
    <%= f.number_field :price, class: 'form-control' %>
  </div>
  <%= f.submit class: 'btn btn-primary' %>
<% end %> -->
